<mat-toolbar>
    <div
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutAlign.gt-xs="space-between center"
        fxFlex
    >
        <div fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-xs>
        </div>
        <img
            style="max-height: 35px;"
            src="../../../../assets/images/logo-powerX-lrg.png"
        />
        <img
            style="max-height: 35px;"
            src="../../../../assets/images/BuiltOnIBMCloud.png"
        />
    </div>
</mat-toolbar>
