<!-- <fuse-progress-bar></fuse-progress-bar> -->
<app-loading></app-loading>
<ng-container>
    <horizontal-layout-1></horizontal-layout-1>
</ng-container>
<ng-template #not_loggedIn>
    <div
        style="
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        "
    >
        <div class="fuse-card p-20">
            <h1>WELCOME</h1>
            <h4>Click below to login</h4>
            <div class="p-16 pt-0 line-height-1.75">

            </div>
        </div>
    </div>
</ng-template>
